<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Staff Test Suite">

<listeners>
    <listener class-name="listeners.TestListener"/>
    <listener class-name="listeners.AnnotationTransformer"/>
</listeners>

<test name="Jobs Filters Tests">
    <classes>
        <class name="JobsFiltersTest"/>
    </classes>
</test>

</suite>